/*-- font style --*/
@font-face {
    font-family: "cairoB";
    src: url('../font/Cairo-Bold.ttf')
}

@font-face {
    font-family: "cairoR";
    src: url('../font/Cairo-Regular.ttf')
}

@font-face {
    font-family: "cairoS";
    src: url('../font/Cairo-SemiBold.ttf')
}

@font-face {
    font-family: "airR";
    src: url('../font/AirStripR.ttf')
}
@font-face {
    font-family: "hiba";
    src: url('../font/Hiba-Bold.otf')
}

/*-- body style --*/
body {
    box-sizing: content-box;
    height: auto;
    background-color: #EDEBE9;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.web {
    position: relative;
    overflow: hidden;
}

/*--- start Contact Us ---*/
.contactUs{
    position: relative;
    padding: 50px 0;
    background-color: #4A4847;
    .hedd{
        text-align: center;
        position: relative;
        top: -125px;
        left: 0;
        right: 0;
    }
    .forms{
        max-width: 100%;
        background-color: #514F4E;
        padding: 10px 5%;
        margin:0 auto 18px auto;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        h3{
            font-size: 20px;
            font-family: 'airR';
            color: #D8D3CE;
            text-align: center;
            margin: 21px 0 63px 0;
        }
        .boy{
            position: absolute;
            width: 363px;
            right: 0;
            bottom: 0;
        }
        form{
            margin:30px 0 20px 0;
            border-radius: 50px;
            //maxMobile
            @media(max-width:767px){
                margin: -30px 0 20px 0;
            }
            //minSmall
            @media(min-width:768px){
                margin: -30px 0 20px 0;
            }
            //minLarg
            @media(min-width:1200px){
                margin:30px 0 20px 0;
            }
            .inp{
                position: relative;
                margin-bottom: 15px;
                img{
                    position: absolute;
                    top: 14px;
                    left: 12px;
                }
                input{
                    background-color: transparent;
                    width: 100%;
                    height: 52px;
                    font-size: 16px;
                    color: #d8d3ce;
                    padding: 0px 0 0 42px;
                    overflow: hidden;
                    border-radius: 100px;
                    font-family: 'cairoR';
                    outline: 0;
                    border: 2px solid #D8D3CE;
                    &::placeholder{
                        color: #D8D3CE;
                    }
                }
                textarea{
                    background-color:transparent;
                    width: 100%;
                    height: 238px;
                    font-size: 16px;
                    color: #D8D3CE;
                    overflow: hidden;
                    border-radius: 20px;
                    font-family: 'cairoR';
                    outline: 0;
                    border: 0;
                    padding: 9px 40px;
                    border: 2px solid #D8D3CE;
                    &::placeholder{
                        color: #D8D3CE;
                    }
                }
            }
            .contenu{
                display: block;
                border: 2px solid #D8D3CE;
                border-radius: 50px;
                width: 190px;
                height: 54px;
                margin:33px auto 0px auto;
                //maxMobile
                @media(max-width:767px){
                    margin: 33px auto 40px auto;
                }
                //minSmall
                @media(min-width:768px){
                    margin: 33px auto 40px auto;
                }
                //minLarg
                @media(min-width:1200px){
                    margin:33px auto 0px auto;
                }
                h3{
                    display: block;
                    font-size: 17px;
                    border: 2px solid #D8D3CE;
                    background: linear-gradient(0deg, rgba(252, 84, 76, 1) 0%, rgba(240, 55, 85, 1) 100%);
                    width: 137px;
                    height: 54px;
                    padding: 16px;
                    margin: -2px 1px 0 0;
                    border-radius: 50px;
                    float: left;
                    text-align: center;
                    font-family:'airR';
                    color: #EDEBE9;
                    transition: ease-in-out .5s;
                    &:hover{
                        background: #EDEBE9 !important;
                        color: #4A4847;
                    }
                }
                img{
                    display: inline-block;
                    position: relative;
                    top: 12px;
                    right: 0;
                    left: 16px;
                }
            }
        }
        .detai{
            position: relative;
            .line{
                width: auto;
                height: 515px;
                position: absolute;
                top: -7px;
                left: 0;
                right: 0;
                //maxMobile
                @media(max-width:767px){
                    display: none;
                }
                //minSmall
                @media(min-width:768px){
                    display: none;
                }
                //minLarg
                @media(min-width:1200px){
                    display: block;
                }
            }
            ul{
                list-style: none;
                padding: 27px 15%;
                li{
                    margin: 0 0 20px 0;
                    .magg{
                        position: relative;
                        display: inline-block;
                        svg{
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: -1px;
                        }
                        img{
                            width: auto;
                            padding: 14px 14px;;
                        }
                    }
                    h3{
                        font-family:'airR';
                        color: #EDEBE9;
                        font-size: 17px;
                        display: inline-block;
                        margin: 0 0 0 7px;
                        //maxMobile
                        @media(max-width:767px){
                            font-size: 16px;
                        }
                        //minSmall
                        @media(min-width:768px){
                            font-size: 16px;
                        }
                        //minLarg
                        @media(min-width:1200px){
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}
/*--- End Contact Us ---*/