/*-- font style --*/
@font-face {
    font-family: "cairoB";
    src: url('../font/Cairo-Bold.ttf')
}

@font-face {
    font-family: "cairoR";
    src: url('../font/Cairo-Regular.ttf')
}

@font-face {
    font-family: "airR";
    src: url('../font/AirStripR.ttf')
}
@font-face {
    font-family: "hiba";
    src: url('../font/Hiba-Bold.otf')
}

/*-- import --*/
// @import 'sass/helpers/variabels';
// @import 'sass/helpers/mixins';
// @import 'sass/layout/navbar';
// @import 'sass/layout/header';
// @import 'sass/components/buttons';
// @import 'sass/layout/footer';

/*-- body style --*/
body {
	background: #edebe9;
}

.web-main {
	width: 100%;
	overflow: hidden;
	background: #edebe9;
}
.row-full {
	width: 100%;
}
.masks {
	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
		mask-image: url('../img/trapeze3.png');
		mask-repeat: no-repeat;
		mask-size: 40%;
	}
}

.web{
	width: 100%;
	overflow: hidden;
    .loading {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        background: #313131;
    }
    $size : 120px;
    $color1 : #2B2929;
    $color2 : #E5E1DE;

    @mixin keyframes($name) {
    @-o-keyframes #{$name} { @content };
    @-moz-keyframes #{$name} { @content };
    @-webkit-keyframes #{$name} { @content }; 
    @keyframes #{$name} { @content };
    }
    @mixin animation($prop...) {
    -o-animation: $prop;
    -moz-animation: $prop;
    -ms-animation: $prop;
    -webkit-animation: $prop;
    animation: $prop;
    }
    @mixin transform($prop...) {
    -o-transform: $prop;
    -moz-transform: $prop;
    -webkit-transform: $prop;
    -ms-transform: $prop;
    transform: $prop;
    }
    @mixin transform-origin($prop...) {
    -o-transform-origin: $prop;
    -moz-transform-origin: $prop;
    -webkit-transform-origin: $prop;
    -ms-transform-origin: $prop;
    transform-origin: $prop;
    }


   .load{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 20;
        &:before,
        &:after,
   .dot,
   .outline{
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%,-50%));
      border-radius:50%;
   }
   .dot{
      width: #{$size - $size / 100 * 20};
      height: #{$size - $size / 100 * 20};
      background: $color2;
      @include animation(in 4s linear infinite);
      z-index:2;
   }
   &:before{
      content: "";
      width: 0px;
      height: 0px;
      background: $color1;
      @include animation(out1 4s linear infinite);
   }
   &:after{
      content: "";
      width: 0px;
      height: 0px;
      background: $color2;
      @include animation(out2 4s linear infinite);
   }
   .outline{
      width: $size;
      height: $size;
      z-index:2;
      span{
         width: $size / 2 + 8;
         height: $size / 2 + 8;
         @include transform-origin(100% 100%);
         @include transform(rotate(45deg) skewX(80deg));
         overflow: hidden;
         position: absolute;
         bottom: 50%; 
         right: 50%;
         @include animation(outline 4s linear infinite);
         &:before{
            content: "";
            display: block;
            border: solid 5px #fff;
            width: 200%;
            height: 200%;
            border-radius: 50%;
            @include transform(skewX(-80deg));
            @include animation(outlineBefore 4s linear infinite);
         }
      }
   }
}

@include keyframes(outline){
   0%{
      @include transform(rotate(0deg) skewX(80deg));
   }
   25%{
      @include transform(rotate(500deg) skewX(15deg));
   }
   50%{
      @include transform(rotate(1000deg) skewX(40deg));
   }
   75%{
      @include transform(rotate(1500deg) skewX(60deg));
   }
   100%{
      @include transform(rotate(2160deg) skewX(80deg));
   }
}

@include keyframes(outlineBefore){
   0%{
      @include transform(skewX(-80deg));
      border: solid 5px #ffffff;
   }
   25%{
      @include transform(skewX(-15deg));
      border: solid 5px #ffffff;
   }
   49%{
      border: solid 5px #ffffff;
   }
   50%{
      @include transform(skewX(-40deg));
      border: solid 5px #D8D3CE;
   }
   75%{
      @include transform(skewX(-60deg));
      border: solid 5px #D8D3CE;
   }
   100%{
      @include transform(skewX(-80deg));
      border: solid 5px #D8D3CE;
   }
}

@include keyframes(in){
   0%{
      width: #{$size + $size / 100 * 20};
      height: #{$size + $size / 100 * 20};
      background:$color2;
   }
   40%{
      width: 0px;
      height: 0px;
      background:$color2;
   }
   41%{
      width: 0px;
      height: 0px;
      background:$color1;
   }
   50%{
      width: #{$size + $size / 100 * 20};
      height: #{$size + $size / 100 * 20};
      background:$color1;
   }
   90%{
      width: 0px;
      height: 0px;
      background:$color1;
   }
   91%{
      width: 0px;
      height: 0px;
      background:$color2;
   }
   100%{
      width: #{$size + $size / 100 * 20};
      height: #{$size + $size / 100 * 20};
      background:$color2;
   }
}

@include keyframes(out1){
   0%{
      width:0px;
      height:0px;
   }
   30%{
      width:120vw;
      height:120vw;
   }
   100%{
      width:120vw;
      height:120vw;
   }
}

@include keyframes(out2){
   0%{
      width:0px;
      height:0px;
   }
   30%{
      width:0px;
      height:0px;
   }
   60%{
      width:120vw;
      height:120vw;
   }
   100%{
      width:120vw;
      height:120vw;
   }
}
    .header{
        background-color: unset !important;
         .logo {
             a {
                img {
                    width: 72px;
                    margin: 0 2px 0 0;
                }
             }
         }
    }
    /*--side-sc--*/
    .side-sc {
        width: 68px;
        height: 100px;
        position: fixed;
        top: 321px;
        right: 15px; 
        text-align: center;
        z-index: 10;
        .search {
            width: 74%, !important;
        }
        .cn-cart {
            width: 61px;
            text-align: center;
            margin: -3px auto 0 auto;
            .cart {
                width: 54px;
                padding: 0; 
                margin: 0;
            } 
            span {
                font-family: "cairoR";
                font-size: 15px;
                color: #fff;
                position: relative;
                top: -62px;
                margin: 0 0 0 0;
            }
        }
    }
    /*---*/
    .bu {
        border: 2px solid #6C6B6B;
        width: 103px;
        border-radius: 55px;
        height: 37px;
        img {
            width: 15px;
            float: right;
            position: relative;
            top: 9px;
            right: 8px;
        }
        h2 {
            font-size: 12px;
            font-family: "airR";
            color: #D8D3CE;
            display: inline-block;
            background: linear-gradient(0deg, rgba(252, 84, 76, 1) 0%, rgba(240, 55, 85, 1) 100%);
            padding: 10px 13px;
            border-radius: 25px;
            border: 2px solid #EBA4A4;
            float: left;
            position: relative;
            top: -3px;
            left: -3px;
        }
    }
    .bxshow {
        width: 100%;
        padding: 0 10.3%;
        margin: 82px 0 0 10px;
        .dtx {
            //maxMobile
            @media(max-width:767px){
                margin: 0 0 55px 0;
            }
            //minSmall
            @media(min-width:768px){
            margin: 0 0 55px 0;
            }
            //minLarg
            @media(min-width:1200px){

            }
            h1 {
                font-family: "airR";
                font-size: 52.8px;
                color: #444343;
                margin: 0 0 17px 0;
                span {
                    color: #F7494F;
                }
            }
            p {
                color: #707070;
                font-size: 16px;
                font-family: "cairoR";
                padding: 0 0% 0px 17%;
            }
            .bu {
                display: inline-block;
                margin: 0 0 0 17px;
                position: relative;
                top: 18px;
            }
            .create {
                width: 139px;
                height: 51px;
                background: transparent;
                border-color: #6C6B6B;
                padding: 0;
                img {
                    width: 20px;
                    position: relative;
                    top: 12px;
                    left: 7px;
                    right: -9px;
                }
                h2 {
                    height: 49px;
                    border-radius: 39px;
                    background: transparent;
                    color: #444343;
                    padding: 13px 18px;
                    border: 2px solid #6C6B6B;
                    top: -1px;
                    right: -2px;
                    left: 2px;
                    font-size: 13px;
                }
            }
            .logiin {
                width: 121px;
                height: 51px;
                border-color: #6C6B6B;
                padding: 0;
                img {
                    width: 17px;
                    position: relative;
                    top: 12px;
                    right: -11px;
                }
                h2 {
                    height: 51px;
                    padding: 15px 20px;
                    top: -2px;
                    right: -2px;
                    left: 2px;
                    font-size: 13px;
                    border-radius: 41px;
                }
            }
        }
        .bmg {
            padding: 0 35px 0 0;
            //maxMobile
            @media(max-width:767px){
                margin: 0 0 20px 0;
              }
              //minSmall
              @media(min-width:768px){
                margin: 0 0 20px 0;
              }
              //minLarg
              @media(min-width:1200px){
    
              }
            img {
                width: 102.4%;
            }
        }
    }
    .earth {
        width: 100%;
        position: relative;
        overflow: hidden;
        margin: -142px auto 0 auto;
        .mountain-rigth {
            display: inline-block;
            margin: 0;
            float: right;
            width: 46%;
            margin: 0px 0 0 0;
            position: absolute;
            bottom: 0;
        }
        .mountain-left {
            display: inline-block;
            margin: 0;
            float: left;
            width: 47.7%;
            margin: 152px 0 0 0;
        }
        svg {
            position: absolute;
            right: 0;
            bottom: 1px;
        }
    }
    .pvideo {
        position: relative;
        z-index: 1;
        top: 0;
        width: 100%;
        margin: -116px 0 0 0px;
        .play {
            width: 102px;
            margin: 0 auto 0 auto;
            left: 26px;
            height: 95px;
            position: relative;
            //maxSmall
            @media(max-width:991px){
                width: 59px;
                left: -2px;
                top: 52px;
                margin: 0 auto 14px auto;
            }
            //minMedium
            @media(min-width:922px){
                width: 71px;
                left: -4px;
                top: 32px;
            }
            //minLarg
            @media(min-width:1200px){
                width: 102px;
                margin: 0 auto 0 auto;
                left: -6px;
                height: 95px;
                position: relative;
                top: 0;
            }
            .p1 {
                width: 69%;
            }
            .p2 {
                width: 28%;
                position: relative;
                margin: 0 auto;
                top: -55px;
                left: -19px;
                //maxSmall
                @media(max-width:991px){
                    top: -37px;
                    left: -12px;
                }
                //minMedium
                @media(min-width:922px){
                    top: -43px;
                    left:-14px;
                }
                //minLarg
                @media(min-width:1200px){
                    width: 28%;
                    position: relative;
                    margin: 0 auto;
                    top: -55px;
                    left: -19px;
            }   }
        }
        h2 {
            font-family: "airR";
            text-align: center;
            font-size: 21px;
            color: #444343;
        }
        svg {
            width: 100%;
            height: 20px;
            margin: 7px auto 8px auto;
            text-align: center;
            position: relative;
            left: -34px;
        }
    }
    .knowmore {
        /*counter*/
        .bxchart{
            margin: 20px 0 0 0;
            h3{
                font-size: 25px;
                font-family: 'airR';
                color: #444343;
                width: 133px;
                line-height: 1.5;
            }
            .statis{
                margin:50px 0 123px 0;
                //minSmall
                @media(min-width:768px){
                    padding: 0;
                }
                //maxMobile
                @media(max-width:767px){
                    padding:0;
                }
                //maxSmall
                @media(max-width:991px){
                    padding: 0 12% 0 22%;
                }
                //minLarg
                @media(min-width:1200px){
                    padding: 0;
                }
                .counter{
                    position: relative;
                    top: 26px;
                    text-align: center;
                    margin: 0 0 108px 0;
                    padding: 4px 0 0 72px;
                    //maxMobile
                    @media(max-width:767px){
                        width: 300px;
                        margin: 0 auto 96px auto;
                        padding: 4px 0 0 0;
                    }
                    //minSmall
                    @media(min-width:768px){
                        width: 300px;
                        margin: 0 auto 96px auto;
                        padding: 4px 0 0 0;
                    }
                    //minMedium
                    @media(min-width:922px){
                        width: 143px;
                    }
                    //minLarg
                    @media(min-width:1200px){
                        margin: 0 0 108px 0; 
                        width: 100%;
                        padding: 4px 0 0 72px;
                    }
                    svg{
                        position: absolute;
                        width: 99px;
                        top: -56px;
                        left: 89px;
                        //maxMobile
                        @media(max-width:767px){
                            top: -60px;
                            left: 106px;
                        }
                        //minSmall
                        @media(min-width:768px){
                            top: -60px;
                            left: 106px;
                        }
                        //minMedium
                        @media(min-width:922px){
                            left: 29px;
                        }
                        //minLarg
                        @media(min-width:1200px){
                            top: -56px;
                            left: 89px;
                        }
                    }
                    img{
                        position: absolute;
                        width: 96px;
                        top: -16px;
                        left:72px;
                        //maxMobile
                        @media(max-width:767px){
                            left: 86px;
                        }
                        //minSmall
                        @media(min-width:768px){
                            left: 86px;
                        }
                        //minMedium
                        @media(min-width:922px){
                            left: 10px;
                        }
                        //minLarg
                        @media(min-width:1200px){
                            left: 72px;
                        }
                    }
                    span{
                        color: #444343;
                        font-size: 21px;
                        font-family: 'airR';
                        position: relative;
                    }
                    h3{
                        color: #444343;
                        font-size: 21px;
                        font-family: 'airR';
                        width: unset;
                        position: relative;
                    }
                }
            }
        }
        .successpartners {
            padding: 0 3%;
            .socialnetworks {
                width: 157px;
                position: relative;
                margin: 15px auto 45px auto;
                .snk{
                    width: 26px;
                    margin: 8px 0 0 16px;
                    position: relative;
                    right: 10px;
                    z-index: 2;
                    cursor: pointer;
                    .iner {
                        fill: #444343;
                    }
                }
                .active {
                    width: 40px;
                    height: 40px;
                    background: #444343;
                    border-radius: 50%;
                    padding: 9px;
                    .iner {
                        fill: #d8d3ce;
                    }
                }
            }
            .cnpts {
                h2 {
                    font-size: 22px;
                    text-align: center;
                    font-family: "airR";
                    color: #444343;
                }
                .cn {
                    width: 100%;
                    //minSmall
                    @media(min-width:768px){
                        width: 450px;
                        margin: 0 auto;
                    }
                    //minMedium
                    @media(min-width:922px){
                        width: 450px;
                        margin: 0 auto;
                    }
                    //minLarg
                    @media(min-width:1200px){
                        width: 100%;
                        margin: 0 0 0 0;
                    }
                    .up { 
                        text-align: center;
                        .pts {
                            width: 48%;
                            display: inline-block;
                            margin: 0 auto;
                            position: relative;
                            text-align: center;
                            height: 201px;
                            img {
                                position: relative;
                                z-index: 1;
                                text-align: center;
                                margin: 55px auto;
                                width: 87px;
                            }
                            svg {
                                position: absolute;
                                width: 100%;
                                right: 0;
                                top: auto;
                            }
                        }
                    }
                    .down {
                        .pts {
                            display: inline-block;
                            width: 49%;
                            text-align: center;
                            height: 170px;
                            position: relative;
                            img {
                                position: relative;
                                z-index: 1;
                            }
                            svg {
                                position: absolute;
                                top: 0;
                                right: 0;
                            }
                        }
                        .p1 {
                            right: 18px;
                            img {
                                width: 70%;
                                top: 53px;
                            }
                        }
                        .p2 {
                            img {
                                width: 124px;
                                margin: 0 0 0 0;
                                top: 52px;
                            }
                            svg {
                                width: 192%;
                                right: -96%;
                                top: -30px;
                            }
                        }
                    }
                }
            }
        }
        .storysuccss {
            margin: 0 26% 0 0;
            //maxSmall
            @media(max-width:991px){
                padding: 0 12% 0 12%;
                margin: 0;
            }
            .tit {
                position: relative;
                margin: 0 -26px 0 0;
                h2 {
                    font-size: 20px;
                    font-family: "airR";
                    padding: 0 0 0 0;
                    line-height: 31px;
                    max-width: 97px;
                }
                span {
                    left: -28px;
                    position: absolute;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    border: 3px solid #6B6B6B;
                    top: 6px;
                    &::before {
                        content: "";
                        left: 0.2px;
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        top: 0px;
                        background: #FC544C;
                    }
                }
            }
            .shw {
                width: 248px;
                height: 253px;
                position: relative;
                //maxSmall
                @media(max-width:991px){
                    margin: 0 auto;
                }
            }
            .bmg {
                text-align: center;
                width: 129px;
                position: relative;
                margin: 0 auto;
                height: 229px;
                z-index: 1;
                right: -41px;
                img {
                    width: 103%;
                }
            }
            .bkg-l {
                width: 134px;
                position: absolute;
                top: 129px;
                z-index: 2;
                right: 49px;
                margin: -51px -15px 0 0;
            }
            .bkg-r {
                width: 178px;
                position: absolute;
                top: 76px;
                right: 0;
                margin: -51px -15px 0 0;
            }
            .bx {
                margin: 18px 0 0 0;
                h3 {
                    font-size: 17px;
                    font-family: "airR";
                    color: #444344;
                    margin: 0 0 10px 0;
                }
                p {
                    font-size: 14px;
                    font-family: "cairoR";
                    padding: 0 35% 0 0;
                    max-height: 64px;
                    overflow: hidden;
                    color: #4b4b4b;
                    //maxSmall
                    @media(max-width:991px){
                        padding: 0;
                    }
                    //minMedium
                    @media(min-width:922px){
                        padding: 0;
                    }
                }
                a {
                    .bu {
                        width: 93px;
                        img {
                            width: 9px;
                        }
                    }
                }
            }
        }
    }
    /*--- start product ---*/
    .product{
        position: relative;
        margin: -50px 0 0 0;
        //maxMobile
        @media(max-width:767px){
            margin: 27px 0 0 0;
          }
        //minSmall
        @media(min-width:768px){
            margin: 27px 0 0 0;
        }
        //minLarg
        @media(min-width:1200px){
            margin: -50px 0 0 0;
        }
        h3{
            font-family: 'airR';
            font-size: 30px;
            color: #444343;
        }
        .navTab{
            margin: 30px 0 0 0;
            .iteem{
                display:block;
                float: right;
                margin: -28px 0 0 0;
                ul{
                    list-style: none;
                    li{
                        display: inline-block;
                        margin-right: 10px;
                        &.active{
                            background: linear-gradient(0deg, #fc544c 0%, #f03755 100%);
                            padding: 7px 8px;
                            border-radius: 7px;
                            svg{
                                path{
                                    fill: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .nav-tabs{
                border: 0;
                .nav-link{
                    font-size: 16px;
                    font-family: 'airR';
                    border-radius: 50px;
                    background-color: #D8D3CE;
                    color: #444343;
                    margin-right: 10px;
                    padding: 6px 18px;
                    &:active{
                        background: linear-gradient(0deg, #fc544c 0%, #f03755 100%);
                        border-radius: 50px;
                        color: #EDEBE9;
                    }
                }
            }
        }
        .addprod{
            position: relative;
            padding: 7px;
            margin: 53px auto 0 auto;
            width: 255px;
            svg{
                position: absolute;
                width: 257px;
                top: 0;
                right: 0;
                z-index: 5;
            }
            .addMove{
                position: absolute;
                width: 55px;
                top: 9px;
                z-index: 55;
                right: 0;
                left: 5px;
                svg{
                    position: absolute;
                    top: 55px;
                    right: 35px;
                    width: 36px;
                }
                img{
                    position: absolute;
                    top: 89px;
                    right: 0;
                    left: 11px;
                    z-index: 5;
                    width: 14px;
                }
            }
            .pic{
                width: 229px;
                margin: 20px 0 20px 0;
                position: relative;
                z-index: 5;
                top: 30px;
                right: 0;
                left: 30px;
            }
            .bx{
                width: 106.9%;
                background: #d8d3ce;
                position: relative;
                padding: 40px 12px 0 11px;
                height: 153px;
                top: -20px;
                border-bottom-left-radius: 21px;
                border-bottom-right-radius: 21px;
                left: 8px ;
                h2{
                    font-size: 16px;
                    font-family: 'airR';
                    color: #444343;
                    margin: 20px ​0 0 0;
                }
                .price{
                    margin: 25px 0 0 0;
                    position: relative;
                    display: inline-block;
                    top: 5px;
                    svg{
                        position: absolute;
                        top: 3px;
                        width: 122px;
                        left: 0;
                    }
                    h3{
                        margin: 11px 0 7px 0;
                        font-family: 'airR';
                        color: #444343;
                        font-size: 16px;
                        span{
                            color: #F84A4E;
                            font-family: 'cairoR';
                            font-size: 15px;
                            display: inline-block;
                            margin: 0 5px 0 0;
                        }
                    }
                }
                .contenu{
                    display: inline-block;
                    border: 2px solid #6C6B6B;
                    border-radius: 50px;
                    width: 81px;
                    height: 34px;
                    margin:0 39px 0 0;
                    h3{
                        display: block;
                        font-size: 13px;
                        background: #FC544C;
                        width: 62px;
                        height: 35px;
                        position: relative;
                        left: 5px;
                        padding: 8px 3px 0 0;
                        margin: -2px 0 0 -1px;
                        border-radius: 50px;
                        float: right;
                        text-align: center;
                        font-family: 'airR';
                        color: #D8D3CE;
                        border: 2px solid;
                        cursor: pointer;
                        transition: all ease-in-out .5s;
                        &:hover{
                            background-color:gray;
                            color: #EDEBE9;
                            border: 2px solid #EDEBE9;
                        }
                    }
                    img{
                        display: inline-block;
                        position: relative;
                        top: 1px;
                        right: 0;
                        left: 8px;
                        width: auto;
                    }
                }
            }
        }
        .bud{
            margin: 71px auto 2px auto;
            .contenu{
                border: 2px solid #6C6B6B;
                border-radius: 50px;
                width: 142px;
                height: 52px;
                h3{
                    display: block;
                    font-size: 16px;
                    width: 97px;
                    height: 52px;
                    padding: 14px 0 0 0;
                    margin: -2px 0 0 -1px;
                    border-radius: 50px;
                    float: left;
                    text-align: center;
                    font-family: 'cairoR';
                    color: #6C6B6B;
                    border: 2px solid;
                    cursor: pointer;
                    transition: all ease-in-out .5s;
                    &:hover{
                        background-color:#FC544C;
                        color: #EDEBE9;
                        border: 2px solid #EDEBE9;
                    }
                }
                img{
                    display: inline-block;
                    position: relative;
                    top: 12px;
                    left: 0;
                    right: 13px;
                }
            }
        }
        .contenu{
            display: block;
            border: 2px solid #6C6B6B;
            border-radius: 50px;
            width: 181px;
            height: 56px;
            margin:54px auto 0px auto;
            h3{
                display: block;
                font-size: 17px;
                border: 2px solid #6C6B6B;
                width: 136px;
                padding: 16px;
                margin: -2px 0 0 -1px;
                border-radius: 50px;
                float: left;
                text-align: center;
                font-family:'airR';
                color: #444343;;
                border: 2px solid;
                cursor: pointer;
                transition: all ease-in-out .5s;
                &:hover{
                    background-color:#FC544C;
                    color: #EDEBE9;
                    border: 2px solid #6C6B6B;
                }
            }
            img{
                display: inline-block;
                position: relative;
                top: 12px;
                left: 0;
                right: 16px;
            }
        }
    }   
    /*--- Team Work ---*/
    .teamWork{
        padding: 30px 0;
        background: linear-gradient(0deg, rgba(252, 84, 76, 1) 0%, rgba(240, 55, 85, 1) 100%);
        width: 100%;
        position: relative;
        margin: 162px 0 0 0;
        .servv{
            position: absolute;
            text-align: center;
            width: 100%;
            left: 0;
            right: 0;
            img{
                position: absolute;
                position: absolute;
                width: 496px;
                top: -146px;
                right: 0;
                left: 37%;
                transform: rotateY(180deg);
                //maxMobile
                @media(max-width:767px){
                  left: 0;
                }
                //minSmall
                @media(min-width:768px){
                    left: 0;
                }
                //minMedium
                @media(min-width:922px){
                    right: 30%;
                }
                //minLarg
                @media(min-width:1200px){
                    left: 37%;
                    transform: rotateY(180deg);
                }
            }
            h3{
                font-family: 'airR';
                font-size: 25px;
                color: #EDEBE9;
                position: relative;
                z-index: 5;
                top: -78px;
                right: 0;
                left: 100px;
                //maxMobile
                @media(max-width:767px){
                    left: 0;
                }
                //minSmall
                @media(min-width:768px){
                    left: 0;
                }
                //minLarg
                @media(min-width:1200px){
                  left: 100px;
                }
            }
        }
        .work{
            padding: 5px 11%;
            margin: 36px 0 20px 0;
            position: relative;
            .imgBag{
                position: absolute;
            }
            .perss{
                position: relative;
                width:344px;
                height: 312px;
                overflow: hidden;
                border-radius: 36px;
                margin: 0 auto 42px auto;
                transition: all ease-in-out .5s;
                //minSmall
                @media(min-width:768px){
                    width: 100%;
                    height: 240px;
                }
                //minLarg
                @media(min-width:1200px){
                    width:344px;
                    height: 312px;
                }
                &:hover{
                    transform: scale(1.1);
                }
                img{
                    width: 100%;
                    height: auto;
                  }
                  .car-body{
                    position:absolute;
                    top: 207px;
                    right: 10px;
                    left: 20px;
                    padding: 28px 0 0 0;
                    //minSmall
                    @media(min-width:768px){
                        top: 158px;
                    }
                    //minLarg
                    @media(min-width:1200px){
                        top: 207px;
                    }
                    svg{
                      position:absolute;
                      top: -37px;
                      right: -11px;
                      left: -26px;
                    }
                    h2{
                      position: relative;
                      font-size: 12px;
                      color: #EDEBE9;
                      font-family: 'airR';
                    }
                    h3{
                      position: relative;
                      font-size: 16px;
                      color: #EDEBE9;
                      font-family: 'airR';
                    }
                  }
            }
            .person{
                position: relative;
                width: 100%;
                height: 240px;
                overflow: hidden;
                border-radius: 36px;
                margin: 0 0 20px 0;
                z-index: 5;
                transition: all ease-in-out .5s;
                &:hover{
                    transform: scale(1.1);
                }
                img{
                  width: 100%;
                  height: auto;
                }
                .car-body{
                  position:absolute;
                  top: 179px;
                  right: 10px;
                  left: 20px;
                  svg{
                    position:absolute;
                    top: -37px;
                    right: -14px;
                    left: -26px;
                  }
                  h2{
                    position: relative;
                    font-size: 12px;
                    color: #EDEBE9;
                    font-family: 'airR';
                  }
                  h3{
                    position: relative;
                    font-size: 16px;
                    color: #EDEBE9;
                    font-family: 'airR';
                  }
                }
            }
            .top{
                position: relative;
                top: -47px;
                padding: 0;
                //maxMobile
                @media(max-width:767px){
                   top: 0;
                }
                //minSmall
                @media(min-width:768px){
                    top: 0;
                }
                //minLarg
                @media(min-width:1200px){
                    top: -47px;
                }
            }
        }
    }
    
    /*--========= login out =========--*/
    .login-out {
        width: 100%;
        background: #edebe9;
        text-align: center;
        margin: 67px 0 219px 0;
        padding: 0 0 90px 0;
        .cn {
            width: 100%;
            text-align: center;
            margin: 0 0 0 0;
            h1 {
                font-size: 19px;
                font-family: "cairoB";
                margin: 13px 0 25px 0;
                color: #2b2929;
            }
            h3 {
                font-size: 15px;
                font-family: "cairoR";
                display: inline-block;
                padding: 9px 22px;
                border: 2px solid #2b2929;
                border-radius: 30px;
                margin: 0 0 0 13px;
                color: #000;
                cursor: pointer;
                transition: all 0.2s ease;
            }
            h3:hover {
                background: #f44251;
                color: #fff;
                border-color: #edebe9;
            }
        }
    }
    /*--========= mining =========--*/
    .mining {
        width: 100%;
        padding: 0% 5%;
        .article {
            width: 100%;
            .bmg {
                width: 100%;
                height: 244px;
                border-radius: 10px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            .bx {
                width: 100%;
                margin: 37px 0 0 0;
                h2 {
                    font-family: "cairoB";
                    font-size: 19px;
                    color: #373737;
                }
                p {
                    font-family: "cairoR";
                    font-size: 16px;
                    color: #605f5f;
                }
            }
        }
        .steps {
            width: 100%;
            margin: 0 0 300px 0;
            h2 {
                font-family: "cairoB";
                text-align: center;
                font-size: 19px;
                margin: 56px 0 67px 0;     
            }
            .cn {
                max-width: 644px;
                margin: 0 auto;
                position: relative;
                .lne {
                    position: absolute;
                    width: 3px;
                    height: 100%;
                    background: #b7b7b7;
                    left: 49.5%;
                    //maxMobile
                    @media(max-width:767px){
                        display: none;
                    }
                    //minSmall
                    @media(min-width:768px){
                        display: none;
                    }
                    //minLarg
                    @media(min-width:1200px){
                        display: block;
                    }
                }
                .stp {
                    width: 252px;
                    margin: 0 0 40px 0;
                    //maxMobile
                    @media(max-width:767px){
                        width: 100%;
                    }
                    //minSmall
                    @media(min-width:768px){
                        width: 100%;
                    }
                    //minLarg
                    @media(min-width:1200px){
                        width: 252px;
                    }
                    .masher {
                        position: relative;
                        margin: 0 auto;
                        float: right;
                        right: 2px;
                        top: 45px;
                        .lne1 {
                            position: absolute;
                            top: 0;
                            width: 89px;
                            height: 3px;
                            background: #b7b7b7;
                            left: -32px;
                            //maxMobile
                            @media(max-width:767px){
                                display: none;
                            }
                            //minSmall
                            @media(min-width:768px){
                                display: none;
                            }
                            //minLarg
                            @media(min-width:1200px){
                                display: block;
                            }
                        }
                        .lne2::before {
                            content: "";
                            width: 23px;
                            height: 23px;
                            position: absolute;
                            border-radius: 50%;
                            border: 2px solid #b7b7b7;
                            right: -4px;
                            top: -4px;

                        }
                        .lne2 {
                            position: absolute;
                            top: -6px;
                            width: 15px;
                            height: 15px;
                            background: #f84b4f;
                            border-radius: 50%;
                            left: 63px;
                            //maxMobile
                            @media(max-width:767px){
                                display: none;
                            }
                            //minSmall
                            @media(min-width:768px){
                                display: none;
                            }
                            //minLarg
                            @media(min-width:1200px){
                                display: block;
                            }
                        }
                    }
                    .up {
                        text-align: center;
                        //maxMobile
                        @media(max-width:767px){
                            width: 256px;
                            margin: 0 auto;
                        }
                        //minSmall
                        @media(min-width:768px){
                            width: 256px;
                            margin: 0 auto;
                        }
                        //minLarg
                        @media(min-width:1200px){
                            width: 256px;
                            margin: 0 auto;
                        }
                        .num {
                            width: 31px;
                            position: relative;
                            text-align: center;
                            margin: 0 0 0 67px;
                            z-index: 1;
                            p {
                                font-family: "airR";
                                position: relative;
                                z-index: 1;
                                top: -14px;
                                font-size: 22px;
                                text-align: center;
                            }
                            svg {
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }
                        .cmg::before {
                            content: "";
                            position: absolute;
                            width: 110px;
                            height: 110px;
                            border: 2px solid #b6b6b6;
                            border-radius: 50%;
                            margin: -5px 0 0 -4px;
                        }
                        .cmg {
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            background: #e4e2e0;
                            overflow: hidden;
                            text-align: center;
                            margin: -52px auto 29px auto;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    h3 {
                        font-family: "cairoB";
                        font-size: 18px;
                        color: #575757;
                        text-align: center;
                        margin: 0 0 10px 0;
                    }
                    p {
                        font-family: "cairoR";
                        font-size: 16px;
                        text-align: right;
                        color: #4c4c4c;
                    }
                }
                .stp-left {
                    display: block;
                    margin: 0 0 0 376px;
                    //maxMobile
                    @media(max-width:767px){
                        margin:56px 0 47px 0;
                    }
                    //minSmall
                    @media(min-width:768px){
                        margin: 56px 0 47px 0;
                    }
                    //minLarg
                    @media(min-width:1200px){
                        margin: 0 0 0 376px;
                    }
                    .masher {
                        position: relative;
                        margin: 0 auto;
                        float: left;
                        right: 30px;
                        top: 45px;
                        .lne1 {
                            position: absolute;
                            top: 0;
                            width: 89px;
                            height: 3px;
                            background: #b7b7b7;
                            right: -32px;
                            //maxMobile
                            @media(max-width:767px){
                                display: none;
                            }
                            //minSmall
                            @media(min-width:768px){
                                display: none;
                            }
                            //minLarg
                            @media(min-width:1200px){
                                display: block;
                            }
                        }
                        .lne2 {
                            position: absolute;
                            top: -6px;
                            width: 15px;
                            height: 15px;
                            background: #f84b4f;
                            border-radius: 50%;
                            left: -34px;
                            //maxMobile
                            @media(max-width:767px){
                                display: none;
                            }
                            //minSmall
                            @media(min-width:768px){
                                display: none;
                            }
                            //minLarg
                            @media(min-width:1200px){
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    /*--=========Start verifyemail=========--*/
    .verifyemail {
        width: 100%;
        background: #edebe9;
        text-align: center;
        margin: 67px 0 219px 0;
        padding: 0 0 90px 0;
        .cn {
            width: 100%;
            text-align: center;
            img {
                width: 96px;
            }
            h1 {
                font-size: 19px;
                font-family: "cairoB";
                margin: 13px 0 12px 0;
                color: #2b2929;
            }
            p {
                font-size: 15px;
                font-family: "cairoR";
                a {
                    span {
                        color: #f44251;
                        padding: 0 0 0 5px;
                    }
                }
            }
        }
    }
    /*--=========End verifyemail=========--*/

    footer{
        padding: 170px 0 0 0;
    }
}