/*-- font style --*/
@font-face {
    font-family: "cairoB";
    src: url('../font/Cairo-Bold.ttf')
}

@font-face {
    font-family: "cairoR";
    src: url('../font/Cairo-Regular.ttf')
}

@font-face {
    font-family: "airR";
    src: url('../font/AirStripR.ttf')
}
@font-face {
    font-family: "hiba";
    src: url('../font/Hiba-Bold.otf')
}


/*-- body style --*/
body {
    box-sizing: content-box;
    height: auto;
    background-color: #EDEBE9;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.web {
    position: relative;
    overflow: hidden;
}

/*--- start Services ---*/
.services{
    position: relative;
    padding: 50px 0;
    .searchh{
        width: 70%;
        margin: 0 auto;
        position: absolute;
        top: -43px;
        left: 0;
        right: 0;
        form{
            position: relative;
            input{
                width: 100%;
                height: 80px;
                padding: 15px;
                font-size: 17px;
                font-family: 'cairoR';
                border-radius: 50px;
                border: 0;
                background-color:#716D6B;
                color: #D8D3CE;
            }
            input::placeholder {
                color: #D8D3CE;
            }
            button{
                width: 106px;
                height: 80px;
                background-color: #edebe9d4;
                border: 1px solid #444343;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 16px;
                outline: 0;
                img{
                    margin-right: 0px;
                }
            }
        }
    }
    .service{
        position: relative;
        margin: 34px 0 17px 0;
        transition: all ease-in .3s;
        &:hover{
            transform: scale(0.95);
        }
        .serv {
            position: relative;
            margin:30px 0 23px 0;
            .bx {
              padding: 0 8% 0 8%;
              position: relative;
              z-index: 1;
              margin:-1px 5px 0 0px;
              background: #3c3c3c;
              border-bottom-left-radius: 21.324px;
              border-bottom-right-radius: 21.324px;
      
              .headerr {
                margin: -51px 0 0 9px;
                .bmg {
                  border-radius: 50%;
                  margin: 12px 0 16px 0px;
                  //maxMobile
                  @media(max-width:767px){
                    margin: 0 auto 14px auto;
                    text-align: center;
                  }
                  //minSmall
                  @media(min-width:768px){
                    margin: 0 auto 14px auto;
                    text-align: center;
                  }
                  //minLarg
                  @media(min-width:1200px){
                    margin: 12px 0 16px 0px;
                    text-align:unset;
                  }
                  img {
                    width: auto;
                  }
                }
                h2 {
                  font-family: "airR";
                  font-size: 14px;
                  color: #EDEBE9;
                  //maxMobile
                  @media(max-width:767px){
                    margin: 0 auto 55px auto;
                    text-align: center;
                  }
                  //minSmall
                  @media(min-width:768px){
                    margin: 0 auto 55px auto;
                    text-align: center;
                  }
                  //minLarg
                  @media(min-width:1200px){
                    margin: 0;
                  }
                }
              }
      
              .data {
                margin: -40px 0 0 0;
      
                p {
                  font-family: "cairoR";
                  font-size: 13px;
                  color: #D2D0CEE3;
                  margin: -8px 0 0 12px;
                  max-height: 82px;
                  overflow: hidden;
                }
      
                a {
                  margin: 0 0 0 0;
                  float: left;
                  position: relative;
                  top: 15px;
                  right: 15px;
                  margin: 0 0 20px 0;
      
                  .bu {
                    border: 2px solid #D7D5D3;
                    width: 88px;
                    border-radius: 55px;
                    height: 33px;
                    margin: 8px 0 12px 0;
      
                    img {
                      position: relative;
                      top: 0;
                      width: 10px;
                      right: 0px;
                      left: 8px;
                    }
                  }
                }
              }
      
              .bkg1 {
                width: 44%;
                position: absolute;
                bottom: 30px;
                left: 106px;
                //maxMobile
                @media(max-width:767px){
                  display: none;
                }
                //minSmall
                @media(min-width:768px){
                  display: none;
                }
                //minLarg
                @media(min-width:1200px){
                  display: block;
                }
              }
      
              .data a .bu h2 {
                font-size: 12px;
                font-family: "airR";
                color: #D8D3CE;
                display: inline-block;
                background: linear-gradient(0deg, rgba(252, 84, 76, 1) 0%, rgba(240, 55, 85, 1) 100%);
                padding: 7px 10px;
                border-radius: 25px;
                border: 2px solid #EBA4A4;
                position: relative;
                top: -1px;
                left: -6px;
              }
            }
      
            span {
              width: 98.4%;
              height: 66%;
              background: #3c3c3c;
              position: absolute;
              right: 7px;
              bottom: -18px;
              border-bottom-left-radius: 37.324px;
              border-bottom-right-radius: 25.324px;
            }
      
            .bkg {
              width: 45%;
              position: absolute;
              bottom: -7px;
              right: 2px;
            }
        }
    }
    .bud{
        margin: 71px auto 2px auto;
        .contenu{
            border: 2px solid #6C6B6B;
            border-radius: 50px;
            width: 142px;
            height: 52px;
            h3{
                display: block;
                font-size: 16px;
                width: 97px;
                height: 52px;
                padding: 14px 0 0 0;
                margin: -2px 0 0 -1px;
                border-radius: 50px;
                float: left;
                text-align: center;
                font-family: 'cairoR';
                color: #6C6B6B;
                border: 2px solid;
                transition: all ease-in .3s;
                &:hover{
                    background: #FC544C;
                    color:#EDEBE9 ;
                    border: 2px solid #fc544c6e;
                }
            }
            img{
                display: inline-block;
                position: relative;
                top: 12px;
                left: 0;
                right: 13px;
            }
        }
    }
}
/*--- End Services ---*/