{% extends 'base.html'%}
{% block content %}

        <section class="verifyemail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cn">
                            <img src="/static/img/active-email.png" alt="">
                            <h1>حسابك أصبح منشط الأن .. إستمتع</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

