{% extends 'base.html'%}
{% block content %}
        <section class="cart">
            <div class="container">
                <div class="row">
                    <!--product-->
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="emptyCart">
                            <img src="/static/img/emptyCart.png" alt="">
                           <h3>السلة فارغة الرجاء الذهاب لـ صفحة <a href="#"><span>المنتجات</span></a> لملئها</h3>
                        </div>
                        <div class="all">
                            <!--one-->
                        <div class="product">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="backg">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47.804" height="94.231" viewBox="0 0 47.804 94.231">
                                            <defs>
                                              <linearGradient id="linear-gradient" y1="0.5" x2="1" y2="0.5" gradientUnits="objectBoundingBox">
                                                <stop offset="0" stop-color="#fc544c"/>
                                                <stop offset="1" stop-color="#f03755"/>
                                              </linearGradient>
                                            </defs>
                                            <g id="Group_15332" data-name="Group 15332" transform="translate(-1717.197 -588.981)">
                                              <path id="Path_37178" data-name="Path 37178" d="M3442.281,1180.483l28.536-18.546a15.988,15.988,0,0,0-1.771-3.076,18.475,18.475,0,0,0-7.649-4.965l-35.222,23.309Z" transform="translate(-1708.979 -564.915)" fill="url(#linear-gradient)"/>
                                              <path id="Path_37179" data-name="Path 37179" d="M3473.979,1171.4a18.4,18.4,0,0,0-1.274-6.706l-20.8,13.864v50.263l19.3,19.3a18.374,18.374,0,0,0,2.772-9.7Z" transform="translate(-1708.979 -564.915)" fill="url(#linear-gradient)"/>
                                            </g>
                                        </svg>                                          
                                        <img src="img/1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="details">
                                        <h3>جرافة جي سي بي الحديثة 2021</h3>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="parent">
                                        <div class="order">
                                            <p>رقم الطلب</p>
                                            <h3>545455 <span>#</span> </h3>
                                        </div>
                                    </div>
                                    <div class="partow">
                                        <div class="xbx">
                                            <h3> <span>SDG</span> 5,000,000 </h3>
                                            <hr>
                                            <a href="#"><img src="img/delete.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--tow-->
                        <div class="product">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="backg">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47.804" height="94.231" viewBox="0 0 47.804 94.231">
                                            <defs>
                                              <linearGradient id="linear-gradient" y1="0.5" x2="1" y2="0.5" gradientUnits="objectBoundingBox">
                                                <stop offset="0" stop-color="#fc544c"/>
                                                <stop offset="1" stop-color="#f03755"/>
                                              </linearGradient>
                                            </defs>
                                            <g id="Group_15332" data-name="Group 15332" transform="translate(-1717.197 -588.981)">
                                              <path id="Path_37178" data-name="Path 37178" d="M3442.281,1180.483l28.536-18.546a15.988,15.988,0,0,0-1.771-3.076,18.475,18.475,0,0,0-7.649-4.965l-35.222,23.309Z" transform="translate(-1708.979 -564.915)" fill="url(#linear-gradient)"/>
                                              <path id="Path_37179" data-name="Path 37179" d="M3473.979,1171.4a18.4,18.4,0,0,0-1.274-6.706l-20.8,13.864v50.263l19.3,19.3a18.374,18.374,0,0,0,2.772-9.7Z" transform="translate(-1708.979 -564.915)" fill="url(#linear-gradient)"/>
                                            </g>
                                        </svg>                                          
                                        <img src="img/1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="details">
                                        <h3>جرافة جي سي بي الحديثة 2021</h3>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="parent">
                                        <div class="order">
                                            <p>رقم الطلب</p>
                                            <h3>545455 <span>#</span> </h3>
                                        </div>
                                    </div>
                                    <div class="partow">
                                        <div class="xbx">
                                            <h3> <span>SDG</span> 5,000,000 </h3>
                                            <hr>
                                            <a href="#"><img src="img/delete.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--three-->
                        <div class="product">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="backg">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47.804" height="94.231" viewBox="0 0 47.804 94.231">
                                            <defs>
                                              <linearGradient id="linear-gradient" y1="0.5" x2="1" y2="0.5" gradientUnits="objectBoundingBox">
                                                <stop offset="0" stop-color="#fc544c"/>
                                                <stop offset="1" stop-color="#f03755"/>
                                              </linearGradient>
                                            </defs>
                                            <g id="Group_15332" data-name="Group 15332" transform="translate(-1717.197 -588.981)">
                                              <path id="Path_37178" data-name="Path 37178" d="M3442.281,1180.483l28.536-18.546a15.988,15.988,0,0,0-1.771-3.076,18.475,18.475,0,0,0-7.649-4.965l-35.222,23.309Z" transform="translate(-1708.979 -564.915)" fill="url(#linear-gradient)"/>
                                              <path id="Path_37179" data-name="Path 37179" d="M3473.979,1171.4a18.4,18.4,0,0,0-1.274-6.706l-20.8,13.864v50.263l19.3,19.3a18.374,18.374,0,0,0,2.772-9.7Z" transform="translate(-1708.979 -564.915)" fill="url(#linear-gradient)"/>
                                            </g>
                                        </svg>                                          
                                        <img src="img/1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="details">
                                        <h3>جرافة جي سي بي الحديثة 2021</h3>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="parent">
                                        <div class="order">
                                            <p>رقم الطلب</p>
                                            <h3>545455 <span>#</span> </h3>
                                        </div>
                                    </div>
                                    <div class="partow">
                                        <div class="xbx">
                                            <h3> <span>SDG</span> 5,000,000 </h3>
                                            <hr>
                                            <a href="#"><img src="img/delete.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--four-->
                        <div class="product">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="backg">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47.804" height="94.231" viewBox="0 0 47.804 94.231">
                                            <defs>
                                              <linearGradient id="linear-gradient" y1="0.5" x2="1" y2="0.5" gradientUnits="objectBoundingBox">
                                                <stop offset="0" stop-color="#fc544c"/>
                                                <stop offset="1" stop-color="#f03755"/>
                                              </linearGradient>
                                            </defs>
                                            <g id="Group_15332" data-name="Group 15332" transform="translate(-1717.197 -588.981)">
                                              <path id="Path_37178" data-name="Path 37178" d="M3442.281,1180.483l28.536-18.546a15.988,15.988,0,0,0-1.771-3.076,18.475,18.475,0,0,0-7.649-4.965l-35.222,23.309Z" transform="translate(-1708.979 -564.915)" fill="url(#linear-gradient)"/>
                                              <path id="Path_37179" data-name="Path 37179" d="M3473.979,1171.4a18.4,18.4,0,0,0-1.274-6.706l-20.8,13.864v50.263l19.3,19.3a18.374,18.374,0,0,0,2.772-9.7Z" transform="translate(-1708.979 -564.915)" fill="url(#linear-gradient)"/>
                                            </g>
                                        </svg>                                          
                                        <img src="img/1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="details">
                                        <h3>جرافة جي سي بي الحديثة 2021</h3>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="parent">
                                        <div class="order">
                                            <p>رقم الطلب</p>
                                            <h3>545455 <span>#</span> </h3>
                                        </div>
                                    </div>
                                    <div class="partow">
                                        <div class="xbx">
                                            <h3> <span>SDG</span> 5,000,000 </h3>
                                            <hr>
                                            <a href="#"><img src="img/delete.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- total-->
                    <div class="col-lg-4 col-sm-12 col-xs-12">
                        <div class="total">                              
                            <h3>المجمــــوع</h3>
                            <div class="price">
                                <svg class="right" xmlns="http://www.w3.org/2000/svg" width="12.503" height="37.823" viewBox="0 0 12.503 37.823">
                                    <g id="Group_15357" data-name="Group 15357" transform="translate(-2012.032 -1195.83)" opacity="0.43">
                                      <path id="Path_37189" data-name="Path 37189" d="M2046.269,1233.653h-1.653v-19.338a1.4,1.4,0,1,0-2.8,0v15a3.058,3.058,0,0,1-3.055,3.055h-.65a3.059,3.059,0,0,1-3.055-3.055v-22.833a3.06,3.06,0,0,1,3.055-3.055h3.539a2.972,2.972,0,1,0,0-5.943h-7.878v-1.653h7.878a4.624,4.624,0,1,1,0,9.249H2038.1a1.4,1.4,0,0,0-1.4,1.4v22.833a1.4,1.4,0,0,0,1.4,1.4h.65a1.4,1.4,0,0,0,1.4-1.4v-15a3.055,3.055,0,1,1,6.111,0Z" transform="translate(-21.734 0)" fill="#bcb7b4"/>
                                    </g>
                                </svg>
                                <svg class="left" xmlns="http://www.w3.org/2000/svg" width="12.503" height="37.823" viewBox="0 0 12.503 37.823">
                                    <g id="Group_15359" data-name="Group 15359" transform="translate(0)" opacity="0.43">
                                      <path id="Path_37189" data-name="Path 37189" d="M2033.766,1233.653h1.653v-19.338a1.4,1.4,0,1,1,2.8,0v15a3.058,3.058,0,0,0,3.055,3.055h.651a3.059,3.059,0,0,0,3.055-3.055v-22.833a3.06,3.06,0,0,0-3.055-3.055h-3.539a2.972,2.972,0,1,1,0-5.943h7.878v-1.653h-7.878a4.624,4.624,0,1,0,0,9.249h3.539a1.4,1.4,0,0,1,1.4,1.4v22.833a1.4,1.4,0,0,1-1.4,1.4h-.651a1.4,1.4,0,0,1-1.4-1.4v-15a3.055,3.055,0,0,0-6.111,0Z" transform="translate(-2033.766 -1195.83)" fill="#bcb7b4"/>
                                    </g>
                                </svg>                                  
                                <h3> <span>SDG</span> 9,000,000 </h3>
                            </div>
                        </div>
                        <div class="butons">
                            <button><img src="img/deletex.png" alt=""> إفراغ السلة</button>
                            <div class="contenu">
                                <img src="img/go.png" alt="">
                                <h3>استمرار</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     {% endblock %}

