{% extends 'base.html'%}
{% block content %}

    <section class="web">
        <section class="servDetails">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="image">
                            <img src="/static/img/big.png" alt="">
                            <h3>تمويل التعـديـن</h3>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        <div class="details">
                            <p>تأسست الشركة العربية للاستثمار في منتصف عام 1974، وهي شركة مساهمة عربية مملوكة من قبل حكومات سبع عشرة دولة عربية، ويبلغ رأسمالها المصرح به 1,200 مليون دولار أمريكي والمدفوع 1,050 مليون دولار أمريكي.
                            </p>
                            <br>
                            <p>والغرض الأساسي للشركة كما حدده عقد تأسيسها هو : استثمار الأموال العربية بهدف تنمية الموارد العربية وذلك من خلال المساهمة في المشاريع الاستثمارية في قطاعات الزراعة والصناعة والتجارة والمواصلات والخدمات على أسس اقتصادية وتجارية سليمة مما يحقق دعم وتنمية الاقتصاد العربي. وتتمتع الشركة بكافة الضمانات والامتيازات التي تكفلها قوانين الاستثمار السارية في الدول المساهمة بما في ذلك ضمان الحرية الكاملة لحركة الأموال وعدم خضوعها للتأميم والمصادرة.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="hotline">
                            <h3>2290</h3>
                            <div class="phone">
                                <svg xmlns="http://www.w3.org/2000/svg" width="70.39" height="43.894" viewBox="0 0 70.39 43.894">
                                    <g id="Group_15306" data-name="Group 15306" transform="translate(0 0)">
                                      <path id="Path_37147" data-name="Path 37147" d="M4143.556,925.331a.932.932,0,0,1-.548-1.686,20.086,20.086,0,0,0,2.585-30.318c-.361-.369-.741-.728-1.128-1.068a.932.932,0,1,1,1.228-1.4c.423.371.836.763,1.231,1.166a21.95,21.95,0,0,1-2.822,33.13A.928.928,0,0,1,4143.556,925.331Z" transform="translate(-4082.792 -885.424)" fill="#d8d3ce"/>
                                      <path id="Path_37148" data-name="Path 37148" d="M3861.582,904.038a.929.929,0,0,1-.621-.238c-.4-.361-.8-.74-1.169-1.127-.5-.514-.972-1.06-1.416-1.622a21.717,21.717,0,0,1-4.726-13.605A21.972,21.972,0,0,1,3875.6,865.5h26.5a21.858,21.858,0,0,1,12.045,3.6.932.932,0,0,1-1.024,1.557,20,20,0,0,0-11.021-3.291h-26.5a20.106,20.106,0,0,0-20.083,20.083,19.876,19.876,0,0,0,4.323,12.449c.407.514.844,1.014,1.3,1.485.342.354.7.7,1.07,1.032a.931.931,0,0,1-.622,1.626Z" transform="translate(-3853.649 -865.5)" fill="#d8d3ce"/>
                                      <path id="Path_37149" data-name="Path 37149" d="M3942.591,1059.743h-26.5a21.953,21.953,0,0,1-10.905-2.9.932.932,0,0,1,.928-1.617,20.078,20.078,0,0,0,9.977,2.65h26.5a19.979,19.979,0,0,0,7.547-1.466.931.931,0,1,1,.7,1.727A21.831,21.831,0,0,1,3942.591,1059.743Z" transform="translate(-3894.147 -1015.848)" fill="#d8d3ce"/>
                                    </g>
                                  </svg>                                                                    
                                <a href="#">
                                    <img src="/static/img/phone-call.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}