{% extends 'base.html'%}
{% block content %}
    <section class="web">
        <section class="mining">
            <div class="container">
                <div class="row">
                    <!--article-->
                    <div class="col-lg-12">
                        <div class="article">
                            <div class="row">
                                <!--bmg-->
                                <div class="col-lg-5">
                                    <div class="bmg wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.1s">
                                        <img src="/static/img/pexels-michael-steinberg-321452.png" alt="">
                                    </div>
                                </div>
                                <!--bx-->
                                <div class="col-lg-7">
                                    <div class="bx wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.2s">
                                        <h2>أهمية الذهب في الإقتصاد</h2>
                                        <p>يُعدُّ الذهب من الثروات المالية التي يعتمد عليها الأفراد والمجتمعات والدول أيضاً، حيث كان الذهب قديماً يُستخدم بجانب الزينة كعملة أساسية للتداول بين الأفراد، وأصبح فيما بعد من الأدوات المهمة التي تعدُّ ضماناً على قدرة الدول للوفاء بالتزاماتها تجاه غيرها من الدول الأخرى والتجار والأفراد، كما يُعدُّ الذهب من الأساسيات التي يُعتمد عليها في السياسات المالية والاقتصادية، وذلك لكونها أداة مهمة وضامناً للوفاء كما ذكرنا سابقاً.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--steps-->
                    <div class="col-lg-12">
                        <div class="steps">
                            <h2 class="wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.3s">مراحل تعدين الذهب</h2>
                            <!--cn-->
                            <div class="cn">
                                <span class="lne"></span>
                                <!--stp-->
                                <div class="stp wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                                    <div class="masher wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.5s">
                                        <span class="lne1"></span>
                                        <span class="lne2"></span>
                                    </div>
                                    <div class="up">
                                        <div class="num">
                                            <p>1</p>
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="31.25" height="25.267" viewBox="0 0 31.25 25.267">
                                                <defs>
                                                  <linearGradient id="linear-gradient-bkg" y1="0.5" x2="1" y2="0.5" gradientUnits="objectBoundingBox">
                                                    <stop offset="0" stop-color="#fc544c"/>
                                                    <stop offset="1" stop-color="#f03755"/>
                                                  </linearGradient>
                                                </defs>
                                                <g id="Group_15468" data-name="Group 15468" transform="translate(-1206.25 -979.173)">
                                                  <path id="Path_37258" data-name="Path 37258" d="M14.75,5.983c8.146,0,14.75.62,14.75,8.767a14.75,14.75,0,0,1-29.5,0C0,6.6,6.6,5.983,14.75,5.983Z" transform="translate(1206.25 973.189)" fill="url(#linear-gradient-bkg)"/>
                                                  <path id="Path_37259" data-name="Path 37259" d="M3390.284,2635.5a16.548,16.548,0,0,1-3.832-.448.5.5,0,1,1,.232-.972,15.513,15.513,0,0,0,19.1-15.08.5.5,0,0,1,1,0A16.519,16.519,0,0,1,3390.284,2635.5Z" transform="translate(-2169.283 -1631.061)" fill="#3c3c3c"/>
                                                  <path id="Path_37260" data-name="Path 37260" d="M3376.2,2645.478a.5.5,0,0,1-.2-.044c-.474-.214-.942-.45-1.39-.706a16.6,16.6,0,0,1-2.095-1.413,16.812,16.812,0,0,1-1.364-1.209.5.5,0,0,1,.7-.711,15.882,15.882,0,0,0,1.282,1.136,15.682,15.682,0,0,0,1.968,1.328c.422.24.861.463,1.306.663a.5.5,0,0,1-.206.956Z" transform="translate(-2161.748 -1642.436)" fill="#3c3c3c"/>
                                                </g>
                                              </svg>                                              
                                        </div>
                                        <div class="cmg wow rotateIn" data-wow-duration="0.6s" data-wow-delay="0.7s">
                                            <img src="/static/img/person5.png" alt="">
                                        </div>
                                    </div>
                                    <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">تحديد موقع الذهب</h3>
                                    <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">يتم تحديد موقع الذهب المُترسّب تحت الأرض داخل الصخور، والوصول إليه عن طريق الحفر أو التفجير، أو جرف الصخور المُحيطة، حيث يقوم عُمّال المناجم بحفر أعمدة في الأرض باستخدام مُتفجّرات صغيرة، ومن ثم إزالة خام الذهب من الصخور، وجمعه، ونقله إلى المطحنة.
                                    </p>
                                </div>
                                <!--stp-->
                                <div class="stp stp-left wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                                    <div class="masher wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.5s">
                                        <span class="lne1"></span>
                                        <span class="lne2"></span>
                                    </div>
                                    <div class="up">
                                        <div class="num">
                                            <p>2</p>
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="31.25" height="25.267" viewBox="0 0 31.25 25.267">
                                                <defs>
                                                  <linearGradient id="linear-gradient-bkg" y1="0.5" x2="1" y2="0.5" gradientUnits="objectBoundingBox">
                                                    <stop offset="0" stop-color="#fc544c"/>
                                                    <stop offset="1" stop-color="#f03755"/>
                                                  </linearGradient>
                                                </defs>
                                                <g id="Group_15468" data-name="Group 15468" transform="translate(-1206.25 -979.173)">
                                                  <path id="Path_37258" data-name="Path 37258" d="M14.75,5.983c8.146,0,14.75.62,14.75,8.767a14.75,14.75,0,0,1-29.5,0C0,6.6,6.6,5.983,14.75,5.983Z" transform="translate(1206.25 973.189)" fill="url(#linear-gradient-bkg)"/>
                                                  <path id="Path_37259" data-name="Path 37259" d="M3390.284,2635.5a16.548,16.548,0,0,1-3.832-.448.5.5,0,1,1,.232-.972,15.513,15.513,0,0,0,19.1-15.08.5.5,0,0,1,1,0A16.519,16.519,0,0,1,3390.284,2635.5Z" transform="translate(-2169.283 -1631.061)" fill="#3c3c3c"/>
                                                  <path id="Path_37260" data-name="Path 37260" d="M3376.2,2645.478a.5.5,0,0,1-.2-.044c-.474-.214-.942-.45-1.39-.706a16.6,16.6,0,0,1-2.095-1.413,16.812,16.812,0,0,1-1.364-1.209.5.5,0,0,1,.7-.711,15.882,15.882,0,0,0,1.282,1.136,15.682,15.682,0,0,0,1.968,1.328c.422.24.861.463,1.306.663a.5.5,0,0,1-.206.956Z" transform="translate(-2161.748 -1642.436)" fill="#3c3c3c"/>
                                                </g>
                                              </svg>                                              
                                        </div>
                                        <div class="cmg wow rotateIn" data-wow-duration="0.6s" data-wow-delay="0.7s">
                                            <img src="/static/img/person5.png" alt="">
                                        </div>
                                    </div>
                                    <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">تحديد موقع الذهب</h3>
                                    <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">يتم تحديد موقع الذهب المُترسّب تحت الأرض داخل الصخور، والوصول إليه عن طريق الحفر أو التفجير، أو جرف الصخور المُحيطة، حيث يقوم عُمّال المناجم بحفر أعمدة في الأرض باستخدام مُتفجّرات صغيرة، ومن ثم إزالة خام الذهب من الصخور، وجمعه، ونقله إلى المطحنة.
                                    </p>
                                </div>
                                <!--stp-->
                                <div class="stp wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                                    <div class="masher wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.5s">
                                        <span class="lne1"></span>
                                        <span class="lne2"></span>
                                    </div>
                                    <div class="up">
                                        <div class="num">
                                            <p>3</p>
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="31.25" height="25.267" viewBox="0 0 31.25 25.267">
                                                <defs>
                                                  <linearGradient id="linear-gradient-bkg" y1="0.5" x2="1" y2="0.5" gradientUnits="objectBoundingBox">
                                                    <stop offset="0" stop-color="#fc544c"/>
                                                    <stop offset="1" stop-color="#f03755"/>
                                                  </linearGradient>
                                                </defs>
                                                <g id="Group_15468" data-name="Group 15468" transform="translate(-1206.25 -979.173)">
                                                  <path id="Path_37258" data-name="Path 37258" d="M14.75,5.983c8.146,0,14.75.62,14.75,8.767a14.75,14.75,0,0,1-29.5,0C0,6.6,6.6,5.983,14.75,5.983Z" transform="translate(1206.25 973.189)" fill="url(#linear-gradient-bkg)"/>
                                                  <path id="Path_37259" data-name="Path 37259" d="M3390.284,2635.5a16.548,16.548,0,0,1-3.832-.448.5.5,0,1,1,.232-.972,15.513,15.513,0,0,0,19.1-15.08.5.5,0,0,1,1,0A16.519,16.519,0,0,1,3390.284,2635.5Z" transform="translate(-2169.283 -1631.061)" fill="#3c3c3c"/>
                                                  <path id="Path_37260" data-name="Path 37260" d="M3376.2,2645.478a.5.5,0,0,1-.2-.044c-.474-.214-.942-.45-1.39-.706a16.6,16.6,0,0,1-2.095-1.413,16.812,16.812,0,0,1-1.364-1.209.5.5,0,0,1,.7-.711,15.882,15.882,0,0,0,1.282,1.136,15.682,15.682,0,0,0,1.968,1.328c.422.24.861.463,1.306.663a.5.5,0,0,1-.206.956Z" transform="translate(-2161.748 -1642.436)" fill="#3c3c3c"/>
                                                </g>
                                              </svg>                                              
                                        </div>
                                        <div class="cmg wow rotateIn" data-wow-duration="0.6s" data-wow-delay="0.7s">
                                            <img src="/static/img/person5.png" alt="">
                                        </div>
                                    </div>
                                    <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">تحديد موقع الذهب</h3>
                                    <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">يتم تحديد موقع الذهب المُترسّب تحت الأرض داخل الصخور، والوصول إليه عن طريق الحفر أو التفجير، أو جرف الصخور المُحيطة، حيث يقوم عُمّال المناجم بحفر أعمدة في الأرض باستخدام مُتفجّرات صغيرة، ومن ثم إزالة خام الذهب من الصخور، وجمعه، ونقله إلى المطحنة.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}