{% extends 'base.html'%}
{% block content %}

        <div class="search">
            <input type="search" placeholder="رقـم الطلــب" />
            <div class="go">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="59.278" height="55.094" viewBox="0 0 59.278 55.094">
                    <defs>
                    <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                        <stop offset="0" stop-color="#fc544c"/>
                        <stop offset="1" stop-color="#f03755"/>
                    </linearGradient>
                    </defs>
                    <g id="Group_15325" data-name="Group 15325" transform="translate(-1696.053 -3411.419)">
                    <path id="Path_14776" data-name="Path 14776" d="M1751.9,3466.513a3.426,3.426,0,0,1-2.429-1l-5.36-5.362a1.156,1.156,0,0,1,1.635-1.635l5.36,5.361a1.122,1.122,0,0,0,1.588-1.587l-4.079-4.079a10.667,10.667,0,0,1-2.531-11.227,24.653,24.653,0,1,0-7.39,10.37q.423-.349.83-.717a1.156,1.156,0,1,1,1.551,1.715q-.444.4-.906.785a26.881,26.881,0,1,1,8.083-11.344,8.349,8.349,0,0,0,2,8.782l4.079,4.079a3.432,3.432,0,0,1-2.43,5.861Z" transform="translate(0 0)" fill="#606060" style="isolation: isolate"/>
                    <path id="Path_14777" data-name="Path 14777" d="M1720.514,3459.707a.787.787,0,0,1-.214-.03,20.05,20.05,0,1,1,20.748-32.358.771.771,0,0,1-1.167,1.008,18.507,18.507,0,1,0-19.154,29.869.771.771,0,0,1-.214,1.512Z" transform="translate(-2.237 -2.049)" fill="#606060"/>
                    <path id="Path_14778" data-name="Path 14778" d="M1734.251,3463.866a.771.771,0,0,1-.081-1.538,18.454,18.454,0,0,0,16.538-18.4,18.973,18.973,0,0,0-.112-2.051,18.379,18.379,0,0,0-1.321-5.1.771.771,0,1,1,1.422-.6,19.941,19.941,0,0,1,1.432,5.528,20.553,20.553,0,0,1,.121,2.22,19.992,19.992,0,0,1-17.917,19.935A.666.666,0,0,1,1734.251,3463.866Z" transform="translate(-8.57 -5.56)" fill="#606060"/>
                    <g id="Group_9181" data-name="Group 9181" transform="translate(1712.497 3433.461)">
                        <path id="Path_14779" data-name="Path 14779" d="M1738.987,3440.007h-19.014a1.025,1.025,0,1,0,0,2.05h19.014a1.025,1.025,0,1,0,0-2.05Z" transform="translate(-1717.74 -3440.007)" fill="url(#linear-gradient)"/>
                        <path id="Path_14780" data-name="Path 14780" d="M1738.115,3445.007h-8.481a1.025,1.025,0,1,0,0,2.05h8.481a1.025,1.025,0,1,0,0-2.05Z" transform="translate(-1719.952 -3441.152)" fill="url(#linear-gradient)"/>
                        <path id="Path_14781" data-name="Path 14781" d="M1732.46,3450.007h-14.053a1.025,1.025,0,1,0,0,2.05h14.053a1.025,1.025,0,1,0,0-2.05Z" transform="translate(-1717.381 -3442.297)" fill="url(#linear-gradient)"/>
                    </g>
                    </g>
                </svg>                  
            </div>
        </div>
        <!--services-->
        <section class="myOrder">
            <div class="container">
                <div class="row row-full">
                    <div class="orders">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="card">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="47.804" height="94.231" viewBox="0 0 47.804 94.231">
                                            <g id="Group_15332" data-name="Group 15332" transform="translate(-1717.197 -588.981)">
                                              <path id="Path_37178" data-name="Path 37178" d="M3442.281,1180.483l28.536-18.546a15.988,15.988,0,0,0-1.771-3.076,18.475,18.475,0,0,0-7.649-4.965l-35.222,23.309Z" transform="translate(-1708.979 -564.915)" fill="#4a4847"/>
                                              <path id="Path_37179" data-name="Path 37179" d="M3473.979,1171.4a18.4,18.4,0,0,0-1.274-6.706l-20.8,13.864v50.263l19.3,19.3a18.374,18.374,0,0,0,2.772-9.7Z" transform="translate(-1708.979 -564.915)" fill="#4a4847"/>
                                            </g>
                                        </svg>                              
                                        <img class="card-img-top" src="/static/img/jrarr.png" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">جرافة جي سي بي الحديثة 2021</h5>
                                          <div class="states">
                                            <div class="order">
                                                <p>رقم الطلب</p>
                                                <h3>545455 <span>#</span> </h3>
                                            </div>
                                            <div class="xbx">
                                                <img src="/static/img/watting.png" alt="">
                                                <div class="deat">
                                                    <p>حالة الطلب</p>
                                                    <h3>يتم معالجتة</h3>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="card">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="47.804" height="94.231" viewBox="0 0 47.804 94.231">
                                            <g id="Group_15332" data-name="Group 15332" transform="translate(-1717.197 -588.981)">
                                              <path id="Path_37178" data-name="Path 37178" d="M3442.281,1180.483l28.536-18.546a15.988,15.988,0,0,0-1.771-3.076,18.475,18.475,0,0,0-7.649-4.965l-35.222,23.309Z" transform="translate(-1708.979 -564.915)" fill="#4a4847"/>
                                              <path id="Path_37179" data-name="Path 37179" d="M3473.979,1171.4a18.4,18.4,0,0,0-1.274-6.706l-20.8,13.864v50.263l19.3,19.3a18.374,18.374,0,0,0,2.772-9.7Z" transform="translate(-1708.979 -564.915)" fill="#4a4847"/>
                                            </g>
                                        </svg>                              
                                        <img class="card-img-top" src="/static/img/2.png" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">جرافة جي سي بي الحديثة 2021</h5>
                                          <div class="states">
                                            <div class="order">
                                                <p>رقم الطلب</p>
                                                <h3>545455 <span>#</span> </h3>
                                            </div>
                                            <div class="xbx">
                                                <img src="/static/img/cancel.png" alt="">
                                                <div class="deat">
                                                    <p>حالة الطلب</p>
                                                    <h3>يتم معالجتة</h3>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="card">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="47.804" height="94.231" viewBox="0 0 47.804 94.231">
                                            <g id="Group_15332" data-name="Group 15332" transform="translate(-1717.197 -588.981)">
                                              <path id="Path_37178" data-name="Path 37178" d="M3442.281,1180.483l28.536-18.546a15.988,15.988,0,0,0-1.771-3.076,18.475,18.475,0,0,0-7.649-4.965l-35.222,23.309Z" transform="translate(-1708.979 -564.915)" fill="#4a4847"/>
                                              <path id="Path_37179" data-name="Path 37179" d="M3473.979,1171.4a18.4,18.4,0,0,0-1.274-6.706l-20.8,13.864v50.263l19.3,19.3a18.374,18.374,0,0,0,2.772-9.7Z" transform="translate(-1708.979 -564.915)" fill="#4a4847"/>
                                            </g>
                                        </svg>                              
                                        <img class="card-img-top" src="/static/img/jrarr.png" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">جرافة جي سي بي الحديثة 2021</h5>
                                          <div class="states">
                                            <div class="order">
                                                <p>رقم الطلب</p>
                                                <h3>545455 <span>#</span> </h3>
                                            </div>
                                            <div class="xbx">
                                                <img src="/static/img/success.png" alt="">
                                                <div class="deat">
                                                    <p>حالة الطلب</p>
                                                    <h3>يتم معالجتة</h3>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="contenu">
                                    <img src="/static/img/downW.png" alt="">
                                    <h3>المزيــد</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="emptyOrder">
                            <img src="img/emptyOrder.png" alt="">
                            <h3>لا توجد طلبات في الوقت الحالي</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}