{%extends 'base.html'%}
{% block content %}
    <section class="web">
        <section class="story-details">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="imagee">
                            <img src="/static/img/person1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        <div class="details">
                            <h1>جوان رولينج مواري مؤلفة هاري بوتر</h1>
                            <p>تأسست الشركة العربية للاستثمار في منتصف عام 1974، وهي شركة مساهمة عربية مملوكة من قبل حكومات سبع عشرة دولة عربية، ويبلغ رأسمالها المصرح به 1,200 مليون دولار أمريكي والمدفوع 1,050 مليون دولار أمريكي.
                            </p>
                            <br>
                            <p>والغرض الأساسي للشركة كما حدده عقد تأسيسها هو : استثمار الأموال العربية بهدف تنمية الموارد العربية وذلك من خلال المساهمة في المشاريع الاستثمارية في قطاعات الزراعة والصناعة والتجارة والمواصلات والخدمات على أسس اقتصادية وتجارية سليمة مما يحقق دعم وتنمية الاقتصاد العربي. وتتمتع الشركة بكافة الضمانات والامتيازات التي تكفلها قوانين الاستثمار السارية في الدول المساهمة بما في ذلك ضمان الحرية الكاملة لحركة الأموال وعدم خضوعها للتأميم والمصادرة.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>
{% endblock %}

