{% extends 'base.html'%}
{% block content %}
        <!--=============== Start verifyemail ===============-->
        <section class="verifyemail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cn">
                            <img src="img/vemail.png" alt="">
                            <h1>تحقق من إيميلك</h1>
                            <p>لم تصلني رسالة ؟<a href="#"><span>أعد الإرسال</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
