//web colors
$mainColor:#D8D3CE;
$secondColor:#0c7ad8;
$textColor:#7B7B7B;
$yalloColor:#FCC74C;

//buttons
$mainButtonSize:17px;

//Media Query size
$maxMobile : 767px;
$minSmall:768px;
$maxSmall: 991px;

